#Repeat_Grid_1_hk {
    opacity: 0.5;
    position: absolute;
    width: 60px;
    height: 58px;
    left: 88%;
    top: -20px;
    overflow: hidden;
}

#Repeat_Grid_1_hk_0 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Ellipse_6_hm {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_1_hk_1 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 13px;
    top: 0px;
    overflow: visible;
}

.Ellipse_6_ho {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}

#Repeat_Grid_1_hk_2 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 26px;
    top: 0px;
    overflow: visible;
}

.Ellipse_6_hq {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_1_hk_3 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 39px;
    top: 0px;
    overflow: visible;
}
.Ellipse_6_hs {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}

#Repeat_Grid_1_hk_4 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 52px;
    top: 0px;
    overflow: visible;
}
.Ellipse_6_hu {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_1_hk_5 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 13px;
    overflow: visible;
}
.Ellipse_6_hw {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_1_hk_6 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 13px;
    top: 13px;
    overflow: visible;
}
.Ellipse_6_hy {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_1_hk_7 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 26px;
    top: 13px;
    overflow: visible;
}
.Ellipse_6_h {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_1_hk_8 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 39px;
    top: 13px;
    overflow: visible;
}
.Ellipse_6_ia {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_1_hk_9 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 52px;
    top: 13px;
    overflow: visible;
}
.Ellipse_6_ib {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_1_hk_10 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 26px;
    overflow: visible;
}
.Ellipse_6_ic {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_1_hk_11 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 13px;
    top: 26px;
    overflow: visible;
}
.Ellipse_6_id {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_1_hk_12 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 26px;
    top: 26px;
    overflow: visible;
}
.Ellipse_6_ie {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_1_hk_13 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 39px;
    top: 26px;
    overflow: visible;
}
.Ellipse_6_if {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_1_hk_14 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 52px;
    top: 26px;
    overflow: visible;
}
.Ellipse_6_ig {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_1_hk_15 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 39px;
    overflow: visible;
}
.Ellipse_6_ih {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_1_hk_16 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 13px;
    top: 39px;
    overflow: visible;
}
.Ellipse_6_ii {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_1_hk_17 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 26px;
    top: 39px;
    overflow: visible;
}
.Ellipse_6_ik {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_1_hk_18 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 39px;
    top: 39px;
    overflow: visible;
}
.Ellipse_6_im {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_1_hk_19 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 52px;
    top: 39px;
    overflow: visible;
}
.Ellipse_6_io {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_1_hk_20 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 52px;
    overflow: visible;
}
.Ellipse_6_iq {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_1_hk_21 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 13px;
    top: 52px;
    overflow: visible;
}
.Ellipse_6_is {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_1_hk_22 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 26px;
    top: 52px;
    overflow: visible;
}
.Ellipse_6_iu {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_1_hk_23 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 39px;
    top: 52px;
    overflow: visible;
}
.Ellipse_6_iw {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_1_hk_24 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 52px;
    top: 52px;
    overflow: visible;
}
.Ellipse_6_iy {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}

#Repeat_Grid_3 {
    opacity: 0.5;
    position: absolute;
    width: 60px;
    height: 58px;
    left: 0px;
    top: 144px;
    overflow: hidden;
}
#Repeat_Grid_3_0 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Ellipse_6_kg {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_3_1 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 13px;
    top: 0px;
    overflow: visible;
}
.Ellipse_6_ki {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_3_2 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 26px;
    top: 0px;
    overflow: visible;
}
.Ellipse_6_kk {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_3_3 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 39px;
    top: 0px;
    overflow: visible;
}
.Ellipse_6_km {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_3_4 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 52px;
    top: 0px;
    overflow: visible;
}
.Ellipse_6_ko {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_3_5 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 13px;
    overflow: visible;
}
.Ellipse_6_kq {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_3_6 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 13px;
    top: 13px;
    overflow: visible;
}
.Ellipse_6_ks {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_3_7 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 26px;
    top: 13px;
    overflow: visible;
}
.Ellipse_6_ku {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_3_8 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 39px;
    top: 13px;
    overflow: visible;
}
.Ellipse_6_kw {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}

#Repeat_Grid_3_9 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 52px;
    top: 13px;
    overflow: visible;
}
.Ellipse_6_ky {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_3_10 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 26px;
    overflow: visible;
}
.Ellipse_6_k {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_3_11 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 13px;
    top: 26px;
    overflow: visible;
}
.Ellipse_6_la {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_3_12 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 26px;
    top: 26px;
    overflow: visible;
}
.Ellipse_6_lb {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_3_13 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 39px;
    top: 26px;
    overflow: visible;
}
.Ellipse_6_lc {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_3_14 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 52px;
    top: 26px;
    overflow: visible;
}
.Ellipse_6_ld {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_3_15 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 39px;
    overflow: visible;
}
.Ellipse_6_le {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_3_16 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 13px;
    top: 39px;
    overflow: visible;
}
.Ellipse_6_lf {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_3_17 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 26px;
    top: 39px;
    overflow: visible;
}
.Ellipse_6_lg {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_3_18 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 39px;
    top: 39px;
    overflow: visible;
}
.Ellipse_6_lh {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_3_19 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 52px;
    top: 39px;
    overflow: visible;
}
.Ellipse_6_li {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_3_20 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 52px;
    overflow: visible;
}
.Ellipse_6_lk {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_3_21 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 13px;
    top: 52px;
    overflow: visible;
}
.Ellipse_6_lm {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_3_22 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 26px;
    top: 52px;
    overflow: visible;
}
.Ellipse_6_lo {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_3_23 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 39px;
    top: 52px;
    overflow: visible;
}
.Ellipse_6_lq {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_3_24 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 52px;
    top: 52px;
    overflow: visible;
}
.Ellipse_6_ls {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 3px;
    left: 0px;
    top: 0px;
}

.Path_147 {
    overflow: visible;
    position: absolute;
    width: 614px;
    height: 331.477px;
    left: 0;
    top: 0;
    transform: matrix(1,0,0,1,0,0);
}
#Path_147 {
    opacity: 0.1;
}

.Path_148 {
    overflow: visible;
    position: absolute;
    width: 488.667px;
    height: 293.755px;
    /*left: 812.333px;
    top: 616.245px;*/
	right:0;
	bottom:0;
    transform: matrix(1,0,0,1,0,0);
}
#Path_148 {
    opacity: 0.1;
}

#support__1_ {
    position: absolute;
    width: 31.641px;
    height: 36px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_84 {
    position: absolute;
    width: 6.328px;
    height: 14.906px;
    left: 4.219px;
    top: 14.766px;
    overflow: visible;
}
#Group_83 {
    position: absolute;
    width: 6.328px;
    height: 14.906px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Path_141 {
    overflow: visible;
    position: absolute;
    width: 6.328px;
    height: 14.906px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_86 {
    position: absolute;
    width: 2.199px;
    height: 10.355px;
    left: 0px;
    top: 17.041px;
    overflow: visible;
}
#Group_85 {
    position: absolute;
    width: 2.199px;
    height: 10.355px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Path_142 {
    overflow: visible;
    position: absolute;
    width: 2.199px;
    height: 10.355px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_88 {
    position: absolute;
    width: 14.766px;
    height: 21.234px;
    left: 12.656px;
    top: 14.766px;
    overflow: visible;
}
#Group_87 {
    position: absolute;
    width: 14.766px;
    height: 21.234px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Path_143 {
    overflow: visible;
    position: absolute;
    width: 14.766px;
    height: 21.234px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_90 {
    position: absolute;
    width: 2.199px;
    height: 10.355px;
    left: 29.441px;
    top: 17.041px;
    overflow: visible;
}
#Group_89 {
    position: absolute;
    width: 2.199px;
    height: 10.355px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Path_144 {
    overflow: visible;
    position: absolute;
    width: 2.199px;
    height: 10.355px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_92 {
    position: absolute;
    width: 31.641px;
    height: 15.847px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_91 {
    position: absolute;
    width: 31.641px;
    height: 15.847px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Path_145 {
    overflow: visible;
    position: absolute;
    width: 31.641px;
    height: 15.847px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}